.benefits {
    display: block;
    @media screen and (min-width:1200px) {
        display: flex; 
    }  
}

.benefits__item:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width:1200px) {
        margin-right: 30px;
    }  
    
}

.icon-ben {
    width: 450px;
    height: 120px;
    @extend %light-back;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width:1200px) {
        width: 270px;
    height: 120px; 
    }
}



.benefits__title {
    display: block;
    justify-content: center;
    text-align: center;
    @include text(700, 14, 1.14, 0.03);

    text-transform: uppercase;
    @extend %dark-color;

    margin-bottom: 10px;
    @media screen and (min-width:1200px) {
        display: inline;
    }
}
.benefits__description {
    @include  text(400, 14, 1.71, 0.03);
    @extend %link-color;


    @media screen and (min-width:1200px) {

        margin-bottom: 0;
    }
    }

