.all-clients {
    @media screen and (min-width:1200px) {
        padding-top: 90px;
        padding-bottom: 90px;
       
    }
}

.clients {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @extend %margin-auto;
    @media screen and (min-width:1200px) {
        display: flex;
    
        gap: 30px;
    }
   
    
}


.clients__link {
    @extend %flex-center;
    width: 210px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    &:hover {
        border-color: #2196F3;
    }
    @media screen and (min-width:1200px) {
        width: 170px;
    }
}

.clients__icon {    
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    .clients__link:hover &{
        fill: #2196F3;   
    }
    
}

.all-clients__title {
    @extend %title-of-section;
    margin-bottom: 30px;
    @media screen and (min-width:1200px) {
        font-size: 36px;
        margin-bottom: 50px;
    }
}