.container {
    // max-width: 480px;
    @extend %margin-auto;
    padding-left: 15px;
    padding-right: 15px;
    // @media screen and (min-width:480px) {
    //     max-width: 480px;
    // }


        
    @media screen and (min-width:1200px) {
        max-width: 1200px;
        // @extend %margin-auto;
        // padding-left: 15px;
        // padding-right: 15px;
    }
}